<section id="home" class="home-section">
  <div class="home-container">
    <div class="home-content">
      <h4>
        Hi! I am
        <span>Alejane O. Pelandas</span>
      </h4>
      <h1>
        UI & UX<br />
        <span>Designer</span>
      </h1>
     <p>
      With every design I create, I strive to build more than just a user interface — 
      I craft digital experiences that are intuitive, inclusive, and visually compelling. 
      Transforming complex ideas into clean, meaningful layouts 
      that connect with people, and enhance the way users interact 
      with technology. It's about empathy, purpose, and accessibility for everyone.
    </p>
      <a href="#contact" class="contact-btn">Contact Me</a>
    </div>

    <div class="profile-image">
      <img src="assets/profile1.png" alt="Profile picture of Alejane O. Pelandas">
      
      <!-- Social Media Icons -->
      <div class="social-icons">
        <a href="https://www.facebook.com/Alibaba.Plnds" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href="https://instagram.com" target="_blank"><i class="bi bi-instagram"></i></a>
        <a href="https://www.linkedin.com/in/jane-pelandas-25baa6325/" target="_blank"><i class="bi bi-linkedin"></i></a>
      </div>
    </div>
  </div>
</section>