<div id="projects"  class="projects-wrapper">
  <section class="projects-section">
    <h1>My Projects</h1>
    <p>Here are some of the standout projects I’ve created this year — 
      each one crafted with purpose, creativity, and a deep focus on user experience.</p>

    <div class="filter-buttons">
      <button class="filter-btn active" data-filter="all">All</button>
      <button class="filter-btn" data-filter="uiux">UI/UX</button>
      <button class="filter-btn" data-filter="web">Web Design</button>
      <button class="filter-btn" data-filter="graphic">Graphic Design</button>
    </div>

      <div class="project-cards">
        <a href="https://www.canva.com/design/DAGtNdnofxY/UdyY4LwtPB6Dx75C1xcflA/edit?utm_content=DAGtNdnofxY&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton" class="card-link" target="_blank">
          <div class="card">
            <img src="assets/project7.png" alt="AirCalling Design">
            <div class="overlay">
              <p>Graphic Design</p>
              <h3>Stand Poster Design</h3>
              <div class="tools-used">
                <span>Tools: </span>
                <i class="bi bi-c-circle-fill"></i>
              </div>
            </div>
          </div>
        </a>

        <a href="https://your-link.com" class="card-link" target="_blank">
          <div class="card">
            <img src="assets/project1.png" alt="Business Design">
            <div class="overlay">
              <p>Web Design</p>
              <h3>Personal Portfolio Design</h3>
              <div class="tools-used">
                <span>Tools: </span>
                <i class="fab fa-html5"></i>
                <i class="fab fa-css3-alt"></i>
                <i class="fab fa-js"></i>
              </div>
            </div>
          </div>
        </a>

        <a href="https://www.figma.com/design/veOBkEeArRp9qJfXx9OqoQ/WulaPal-Prototype-Mobile?t=wKuKj591Nnou3kT5-1" class="card-link" target="_blank">
          <div class="card">
            <img src="assets/project4.png" alt="Business Design">
            <div class="overlay">
              <p>UI/UX</p>
              <h3>WulaPal Prototype Design</h3>
              <div class="tools-used">
                <span>Tools: </span>
                <i class="fab fa-figma"></i>
              </div>
            </div>
          </div>
        </a>

        <a href="https://www.figma.com/design/XepATgiPzaXOD2DiS9K70E/Users-PAAYO?t=wKuKj591Nnou3kT5-1" class="card-link" target="_blank">
          <div class="card">
            <img src="assets/project5.png" alt="Business Design">
            <div class="overlay">
              <p>UI/UX</p>
              <h3>PAAYO Prototype Design</h3>
              <div class="tools-used">
                <span>Tools: </span>
                <i class="fab fa-figma"></i>
              </div>
            </div>
          </div>
        </a>

        <a href="https://www.canva.com/design/DAGF-n7Jklc/B6HzSkqXLvk3c2tjecCbUg/edit?utm_content=DAGF-n7Jklc&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton" class="card-link" target="_blank">
          <div class="card">
            <img src="assets/project8.png" alt="AirCalling Design">
            <div class="overlay">
              <p>Graphic Design</p>
              <h3>Instagram Post Design</h3>
              <div class="tools-used">
                <span>Tools: </span>
                <i class="bi bi-c-circle-fill"></i>
              </div>
            </div>
          </div>
        </a>

        <a href="https://www.figma.com/design/zhcuIK7kL7XilXTzCKOwYP/FoodiePal-Website-View----Entero--Helorentino--Lubiano--Pelandas-?t=wKuKj591Nnou3kT5-1" class="card-link" target="_blank">
          <div class="card">
            <img src="assets/project2.png" alt="Business Design">
            <div class="overlay">
              <p>UI/UX</p>
              <h3>FoodiePal Web Design</h3>
              <div class="tools-used">
                <span>Tools: </span>
                <i class="fab fa-figma"></i>
              </div>
            </div>
          </div>
        </a>

        <a href="https://www.figma.com/design/ap578ezRyt6ECUWkMPGTj9/WulaPal-Prototype-Web-Design?t=wKuKj591Nnou3kT5-1" class="card-link" target="_blank">
          <div class="card">
            <img src="assets/project3.png" alt="Ecom Design">
            <div class="overlay">
              <p>UI/UX</p>
              <h3>WulaPal Web Design</h3>
              <div class="tools-used">
                <span>Tools: </span>
                <i class="fab fa-figma"></i>
              </div>
            </div>
          </div>
        </a>

        <a href="https://www.canva.com/design/DAGi7XOkQ08/H9cqYcXzk2IuJc8l6h1W2A/edit?utm_content=DAGi7XOkQ08&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton" class="card-link" target="_blank">
          <div class="card">
            <img src="assets/project6.png" alt="Business Design">
            <div class="overlay">
              <p>Graphic Design</p>
              <h3>Movie Poster Design</h3>
              <div class="tools-used">
                <span>Tools: </span>
                <i class="bi bi-c-circle-fill"></i>
              </div>
            </div>
          </div>
        </a>

        <a href="https://www.canva.com/design/DAGFgYTGW2w/zxjdqeoIMbHXyRk4Istjcw/edit?utm_content=DAGFgYTGW2w&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton" class="card-link" target="_blank">
          <div class="card">
            <img src="assets/project9.png" alt="AirCalling Design">
            <div class="overlay">
              <p>Graphic Design</p>
              <h3>Instagram Post Design</h3>
              <div class="tools-used">
                <span>Tools: </span>
                <i class="bi bi-c-circle-fill"></i>
              </div>
            </div>
          </div>
        </a>
      </div>

  </section>
</div>