<section  id="services" class="services-section">
  <h2 class="section-title">Services</h2>
  <p class="section-intro">
    These are the services I offer, showcasing my skills and experience in the creative and web development field. Whether it's designing intuitive user interfaces, crafting compelling graphics, or building modern, responsive websites—I’m ready to bring your ideas to life and help your business stand out.
    </p>
  <div class="services-container">
    
    <div class="service-card">
      <i class="fas fa-pencil-ruler service-icon"></i>
      <h3>UI/UX Design</h3>
      <p>I craft intuitive and user-friendly designs using wireframes and prototypes to enhance user experience and solve usability problems.</p>
    </div>

    <div class="service-card">
      <i class="fas fa-paint-brush service-icon"></i>
      <h3>Graphic Design</h3>
      <p>I create visually appealing designs including logos, banners, posters, and social media assets that align with brand identity.</p>
    </div>

    <div class="service-card">
      <i class="fas fa-code service-icon"></i>
      <h3>Web Design</h3>
      <p>I build responsive and modern website interfaces using HTML, CSS, and design tools to ensure a seamless user experience.</p>
    </div>

  </div>
</section>
